@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    width: 100%;
}

.header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #f1f1f1;
}

.logo {
    display: flex;
    align-items: center;
    width: 300px;
    padding-left: 40px;
}

.passifi-logo{
    z-index: 1;
    position: relative;
    width: 120px;
    margin-left: 10px;
    margin-top: 10px;
}


.logo span {
    color: #5073fb;
}

.search--notification--profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 300px);
    padding: 0 40px;
}

.search {
    background-color: #f1f4f8;
    border-radius: 10px;
    width: 400px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    background-color: transparent;
    outline: none;
    border: none;
    text-indent: 15px;
    width: 85%;
}

.search button {
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search button i {
    font-size: 1.1rem;
    color: #5073fb;
}

.notification--profile {
    display: flex;
    align-items: center;
}

.lock {
    color: #5073fb;
    background-color: rgba(80, 115, 251, .2);
}

.bell {
    color: #f1d243;
    background-color: rgba(241, 210, 67, .2);
}

.chat {
    color: #70d7a5;
    background-color: rgba(112, 215, 165, .2);
}

.profile {  
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    padding: 5px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: -webkit-linear-gradient(right,#0073e6,#0059b3);
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 60px);
}


/* sidebar */

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid #f1f1f1;
    transition: .5s;
}

.sidebar.active {
    width: 103px;
    overflow: hidden;
}

.sidebar.active .sidebar--item {
    display: none;
}

.sidebar.active .profile {
    height: 40px;
    margin: 0px;
    margin-bottom: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.sidebar--items a,
.sidebar--bottom-items a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}

.sidebar--items a:hover,
.sidebar--bottom-items a:hover {
    background: -webkit-linear-gradient(right,#0073e6,#0059b3);
    color: #fff;
    transition: 0.2s;
}

#active--link {
    background: -webkit-linear-gradient(right,#0073e6,#0059b3);
    color: #fff;
}

.sidebar--bottom-items li:last-child a {
    margin-bottom: 0;
}

.icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 1.3rem;
}

.icon {
    color: #00A7E1;
}


/* main--content */

.main--content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% - 300px);
    padding: 0 40px;
    overflow-y: scroll;
    transition: .3s;
}

.main--content.active {
    width: calc(100% - 103px);
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 30px;
}

.section--title {
    font-weight: 400;
    font-size: 40px;
    color: #484848;
}

.dropdown {
    outline: none;
    border: none;
    background-color: #f1f4f8;
    border-radius: 5px;
    width: 150px;
    padding: 5px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    padding: 20px;
    border-radius: 20px;
    min-width: 230px;
    height: auto;
    transition: .3s;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card--data {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card--icon--lg {
    font-size: 80px;
}

.card--stats {
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.card--stats span {
    display: flex;
    align-items: center;
}

.card--icon {
    margin-right: 5px;
}

.card--img {
    position: relative;
    border-radius: 20px;
    max-width: 300px;
    margin: auto;
}

.stat--icon {
    color: #0474ba;
}

.map--pin {
    color: #f17720;
}

.down--arrow {
    color: #e86786;
}

.card-1 {
    background-color: rgba(80, 115, 251, .1);
}

.card-1 .card--title {
    color: #0474ba;
}

.card-1 .card--icon--lg {
    color: rgba(80, 115, 251, .4);
}

.card-2 {
    background-color: rgba(241, 210, 67, .1);
}

.card-2 .card--title {
    color: rgba(241, 210, 67, 1);
}

.card-2 .card--icon--lg {
    color: rgba(241, 210, 67, .4);
}

.card-3 {
    background-color: rgba(112, 215, 165, .1);
}

.card-3 .card--title {
    color: rgba(112, 215, 165, 1);
}

.card-3 .card--icon--lg {
    color: rgba(112, 215, 165, .4);
}

.card-4 {
    background-color: rgba(227, 106, 200, .1);
}

.card-4 .card--title {
    color: rgba(227, 106, 200, 1);
}

.card-4 .card--icon--lg {
    color: rgba(227, 106, 200, .4);
}

.events--right--btns {
    display: flex;
    align-items: center;
    gap: 30px;
}

.add {
    display: flex;
    align-items: center;
    padding: 10px;
    outline: none;
    border: none;
    background: -webkit-linear-gradient(right,#0073e6,#0059b3);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.add i {
    margin-right: 10px;
    padding: 5px;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
}

.doctors--cards {
    display: flex;
    gap: 20px;
}

.doctor--card {
    padding: 20px;
    border-radius: 20px;
    height: auto;
    transition: .3s;
    border: 2px solid #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8rem;
}

.doctor--card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.img--box--cover {
    border: 1px solid #5073fb;
    padding: 2px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;
}

.img--box {
    position: relative;
    width: 71px;
    height: 71px;
    overflow: hidden;
    border-radius: 50%;
}

.free {
    color: #70d7a5;
}

.scheduled {
    color: #5073fb;
}


/* recent--patients */

.recent--events {
    margin-bottom: 20px;
}

.table {
    overflow-y: scroll;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #f1f1f1;
}

td,
th {
    padding-block: 10px;
}

.edit {
    color: #70d7a5;
    margin-right: 10px;
}

.delete {
    color: #e86786;
    align-items: center;
}

.delete-button {
    background: -webkit-linear-gradient(left, red, #ff3060);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.delete-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.print-button {
    background: -webkit-linear-gradient(right, #0073e6, #0059b3);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.print-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pending {
    color: #f1d243;
}

.confirmed {
    color: #70d7a5;
}

.rejected {
    color: #e86786;
}

/* Modal styles matching existing theme */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 6% auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    width: 60%;
    max-width: 500px;
    font-family: 'Roboto', sans-serif;
  }

  .modal-content h1{
    margin-bottom: 20px;
    font-size: 30px;
  }

  .modal-content label{
    margin-bottom: 10px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }
  
  /* Input fields in the modal */
  .modal-content input[type="text"],
  .modal-content input[type="date"],
  .modal-content input[type="time"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
  }
  
  .modal-content label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .modal-content button[type="submit"] {
    padding: 12px 20px;
    background-color: #5073fb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modal-content button[type="submit"]:hover {
    background-color: #385fc6;
  }
  
  /* Styles for the email input and tags */
    .emails-input {
        width: calc(100% - 20px);
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 20px;
    }

    .emails-input .tag-input {
        box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    }

  .emails-input .tags {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    display: flex;
    flex-wrap: wrap;
  }
  
  .tag {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 5px 8px;
    border-radius: 15px;
    margin: 5px;
  }
  
  .tag .email {
    margin-right: 5px;
  }
  
  .tag .remove {
    cursor: pointer;
    font-weight: bold;
  }

  hr{
    margin-bottom: 10px;
    opacity: 0.5;
  }

  h3{
    color: #484848;
  }
  

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
/* responsive starts here */

@media screen and (max-width:1350px) {
    .cards,
    .doctors--cards {
        overflow-x: scroll;
    }
}

@media screen and (max-width:1024px) {
    table {
        min-width: 600px;
    }
}

@media screen and (max-width:768px) {
    .logo {
        padding-left: 30px;
        width: fit-content;
    }
    .search--notification--profile {
        padding: 0 20px;
        margin-left: auto;
    }
    .main--content {
        padding: 0 20px;
    }
    .sidebar {
        padding: 20px;
    }
    .sidebar.active {
        width: 85px;
    }
    .main--content.active {
        width: calc(100% - 85px);
    }
}

@media screen and (max-width:590px) {
    .search,
    .lock,
    .chat {
        display: none;
    }
    .notification--profile {
        margin-left: auto;
    }
    .search--notification--profile {
        width: fit-content;
    }
    .sidebar {
        transform: translateX(-100%);
        z-index: 10;
        background-color: #fff;
    }
    .sidebar.active {
        transform: translateX(0);
        width: 300px;
    }
    .sidebar.active .sidebar--item {
        display: block;
    }
    .main--content {
        width: calc(100% - 0px);
    }
    .main--content.active {
        width: calc(100% - 0px);
    }
}

@media screen and (max-width:450px) {
    .doctor--filter {
        display: none;
    }
    .main--content {
        padding: 0 10px;
    }
    .logo {
        padding-left: 10px;
    }
    .search--notification--profile {
        padding: 0 10px;
    }
    .sidebar {
        padding: 10px;
    }
}